<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.iscp.dao.base.HonorsCriteriaDao">
	
	<!-- 荣誉评选标准对象 -->
	<resultMap id="HonorsCriteria" type="com.cn.iscp.entity.base.HonorsCriteria">
		<id column="ID" property="criteriaId" jdbcType="BIGINT" />
		<result column="honorsID" property="honorsId" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="flagtime" property="flagtime" jdbcType="BIGINT" />
		
		<result column="honorsName" property="honorsName" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="TableName"> t_base_honorscriteria </sql>
	
	<sql id="ColumnList">
		A.ID, A.honorsID, A.content, A.sort, A.status, A.flagtime
	</sql>
	<!-- 分页获取信息列表 -->
	<select id="findPage" resultMap="HonorsCriteria" parameterType="java.util.Map">
		SELECT <include refid="ColumnList" />,b.honorsName
			FROM <include refid="TableName" /> AS A 
			LEFT JOIN t_base_honors AS b ON b.ID = a.honorsID
			WHERE A.status > 0 AND b.ID = ${honorsId} 
			AND (A.content LIKE '${statName}')
			ORDER BY A.flagtime DESC 
			LIMIT ${startRecord},${pageSize}
	</select>
	<!-- 根据编号获取对象 -->
	<select id="findById" resultMap="HonorsCriteria" parameterType="java.lang.Long">
		SELECT <include refid="ColumnList" /> 
			FROM <include refid="TableName" /> AS A 
			WHERE A.ID = #{criteriaId,jdbcType=BIGINT}
	</select>
	<!-- 获取分页信息列表总数 -->
	<select id="getPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
		SELECT COUNT(A.ID) 
			FROM <include refid="TableName" /> AS A 
			LEFT JOIN t_base_honors AS b ON b.ID = a.honorsID 
			WHERE A.status > 0 AND b.ID = ${honorsId} AND  (A.content LIKE '${statName}')
	</select>
	<!-- 根据荣誉获取评选标准 班牌 -->
	<select id="findByHonors" resultMap="HonorsCriteria" parameterType="java.lang.Long">
		SELECT <include refid="ColumnList" />
			FROM <include refid="TableName" /> AS A 
			WHERE honorsID = #{honorsId,jdbcType=BIGINT}
			ORDER BY A.sort ASC
	</select>
	
	<!-- 获取最后一个对象 -->
	<select id="findFinal" resultMap="HonorsCriteria">
		SELECT <include refid="ColumnList" />
			FROM <include refid="TableName" /> AS A
			WHERE A.`status` > 0
			ORDER BY A.ID DESC 
			LIMIT 0,1
	</select>
	<!-- 保存对象 -->
	<insert id="insert" parameterType="com.cn.iscp.entity.base.HonorsCriteria">
		INSERT INTO <include refid="TableName" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="content != null &amp;&amp; content != ''">
				content,
			</if>
			<if test="honorsId != null">
				honorsId,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="flagtime != null">
				flagtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="content != null &amp;&amp; content != ''">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="honorsId != null">
				#{honorsId,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="flagtime != null">
				#{flagtime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	
	<!-- 修改对象 -->
	<update id="update" parameterType="com.cn.iscp.entity.base.HonorsCriteria">
		UPDATE <include refid="TableName" />
		<set>
			<if test="content != null &amp;&amp; content != ''">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="flagtime != null">
				flagtime = #{flagtime,jdbcType=BIGINT},
			</if>
		</set>
		WHERE ID = #{criteriaId,jdbcType=BIGINT}
	</update>
</mapper>