<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.iscp.dao.card.civilized.CivilizedGiveScoreDao">
	
	<!-- 班级创文评分对象 -->
	<resultMap id="CivilizedGiveScore" type="com.cn.iscp.entity.card.civilized.CivilizedGiveScore">
		<id column="ID" property="scoreId" jdbcType="BIGINT" />
		<result column="classEntityUpgradeID" property="classNum" jdbcType="BIGINT" />
		<result column="raterType" property="raterType" jdbcType="INTEGER" />
		<result column="year" property="year" jdbcType="INTEGER" />
		<result column="termID" property="termId" jdbcType="BIGINT" />
		<result column="month" property="month" jdbcType="INTEGER" />
		<result column="week" property="week" jdbcType="INTEGER" />
		<result column="weekDay" property="weekDay" jdbcType="INTEGER" />
		<result column="studyDate" property="studyDate" jdbcType="VARCHAR" />
		<result column="bigItemID" property="bigItemId" jdbcType="BIGINT" />
		<result column="smallItemID" property="smallItemId" jdbcType="BIGINT" />
		<result column="smallItemSort" property="smallItemSort" jdbcType="INTEGER" />
		<result column="allItemSort" property="allItemSort" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="DOUBLE" />
		<result column="isOneNoteVeto" property="isOneNoteVeto" jdbcType="INTEGER" />
		<result column="note" property="note" jdbcType="VARCHAR" />
		<result column="uploadTime" property="uploadTime" jdbcType="VARCHAR" />
		<result column="uploadUserID" property="uploadUserId" jdbcType="BIGINT" />
		
		<result column="noticeID" property="noticeId" jdbcType="BIGINT" />
		<result column="period" property="period" jdbcType="INTEGER" />
		<result column="bigItem" property="bigItem" jdbcType="VARCHAR" />
		<result column="smallItemDesc" property="smallItem" jdbcType="VARCHAR" />
		<result column="teacherName" property="teacherName" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 老师端-添加评分信息-->
	<select id="insertGiveScore" resultMap="CivilizedGiveScore" parameterType="com.cn.iscp.entity.card.civilized.CivilizedGiveScore">
		{
			call p_card_createcivilization_giveScore(
					#{classNum,jdbcType=BIGINT,mode=IN}, 
					#{studyDate,jdbcType=VARCHAR,mode=IN}, 
					#{raterType,jdbcType=INTEGER,mode=IN}, 
					#{smallItemId,jdbcType=BIGINT,mode=IN}, 
					#{score,jdbcType=DOUBLE,mode=IN}, 
					#{uploadUserId,jdbcType=BIGINT,mode=IN}
				)
		}
	</select>
	
	<!-- PC-查看创文明细-->
	<select id="findDetail" resultMap="CivilizedGiveScore" parameterType="com.cn.iscp.entity.card.civilized.CivilizedClassScore">
		{
			call p_card_createcivilization_findDetail(
					#{classNum,jdbcType=BIGINT,mode=IN}, 
					#{periodType,jdbcType=INTEGER,mode=IN}, 
					#{studyDate,jdbcType=VARCHAR,mode=IN}, 
					#{week,jdbcType=INTEGER,mode=IN}, 
					#{cycle,jdbcType=VARCHAR,mode=IN}
				)
		}
	</select>
	
	<!-- PC-删除评分信息-->
	<select id="deleteGiveScore" parameterType="java.lang.Long">
		{
			call p_card_createcivilization_giveScore_delete(
					#{scoreId,jdbcType=BIGINT,mode=IN}
				)
		}
	</select>
	
</mapper>